<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Brave app</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	{{{body}}}
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
