<div id="colors">
<div data-color="red" class="red color"></div>
<div data-color="green" class="green color"></div>
<div data-color="blue" class="blue color"></div>
<div data-color="brown" class="brown color"></div>
<div data-color="yellow" class="yellow color"></div>
<div data-color="purple" class="purple color"></div>
<div data-color="orange" class="orange color"></div>
<div data-color="pink" class="pink color"></div>
<div data-color="gray" class="gray color"></div>
</div>
<svg id="canvas" xmlns="http://www.w3.org/2000/svg"></svg>
<div id="userlist"></div>
<br/>
<input type="text" id="textbox"/>

